<footer class="site-footer">
	<h2>A bit about me</h2>
	<p>Hello! I&#8217;m Laura Kalbag, a British designer living in Ireland, and co-founder of <a href="https://small-tech.org">Small Technology Foundation</a>. We make an app called <a href="https://better.fyi">Better</a> that protects you while you’re browsing the web. My book <a href="https://abookapart.com/products/accessibility-for-everyone">Accessibility For Everyone</a> is available in paperback, ebook, and audiobook from A Book Apart.</p>
	<img src="/about-me/laura-square.jpg" alt="Photo of me smiling." width="400" height="400">
	<p><small class="site-info">Content and code is under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons
		Attribution-NonCommercial-ShareAlike 4.0 International License</a>. <a href="/i-dont-track-you/">No tracking.</a> <a href="/rss">RSS feeds</a></small></p>
</footer>
